{% extends 'movies/basefile.html' %}

    <title>Details</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">

{% block body %}
 <img src="{{ movies.movie_poster }}" alt="{{ movies.movie_title}}Poster" height="250px" width=auto>
 {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}
 <h2>Movie:{{ movies.movie_title }}</h2>
 <h2>Cast:{{ movies.movie_cast }}</h2>
 <h2>Genre:{{ movies.movie_genre }}</h2>
 <h2>Songs:</h2>
    {% for song in movies.songs_set.all %}
        <h2> {{ song.song_title }}</h2>
        <br>

    {% endfor %}
{% endblock %}
