{% extends 'movies/basefile.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies Page</title>
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">
</head>
<body>
{% block body %}
    <h2>Hello User Welcome To Rotten Tomatoes</h2>
    <a href="{% url 'movie:movies_add' %}">Add</a>
    <div id="container">
    <div id="box">
        {% for movie in all_movies %}
            <div class="inside-box">
            <a href="{% url 'movie:detail' movie.id %} ">
            <img src="{{ movie.movie_poster }}" height="250px" width="auto">
                <h2>{{movie.movie_title}}</h2></a>
            </div>
           <form  action="{% url 'movie:movies_del' movie.id %}"  method="post">
           {% csrf_token %}
               <input type="hidden" name="movie_id" value="{{ movie_id }}">
           <input type="submit"  value="DELETE">
           </form>
        {% endfor %}
    </div>
    </div>
{% endblock %}
</body>
</html>