body{
    background: #898989;
    color: white;
}
img{
    height: 200px!important;
     border: 2px solid yellow!important;
    width: auto;
}
.images{
    height: 200px;

}
button #btn-danger{
    background: brown;
}